.show-header{
  height: 50px;
  background-color: #ffc107;
  color: aliceblue;
  font-size: 30px;
  padding-top: 10px;
  text-align:center;
}
.show-main{
  height: calc(100vh - 200px);
  background-color: whitesmoke;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 20px;
}
.show-footer{
  height: 60px;
  background-color: whitesmoke;
  padding-left: 1vw;
  font-size: 20px;
}

.show-title{
  font-size: 30px;
  padding: 10px 0;
}

.show-master{
  display: flex;
  padding-bottom: 15px;
}

.show-time{
  padding-bottom: 15px;
}

.show-user{
  padding-bottom: 15px;
}
table th {
  width: 5vw;
  padding: 5px;
}

table td {
  padding: 5px;
}
.table-email{
  width: 15vw;
}

.show-comment{
  padding-bottom: 15px;
}
.comment-area{
  height: 120px;
  width: 100%;
  background-color: aliceblue;
}

.show-btn{
  width: 100%;
  display: flex;
}
.show-btn a{
  text-decoration: none;
  color: aliceblue;
}
.btn-edit, .btn-destroy{
  padding-top: 5px;
  font-size: 30px;
  width: 270px;
  height: 50px;
  text-align: center;
}
.btn-edit{
  background-color: #17a2b8;
}
.btn-destroy{
  background-color: #dc3545;
}
