.top-page-header{
  height: 80px;
  width: 100vw;
  color: aliceblue;
  background-color: #28a745;
  display: flex;
  justify-content: space-between;
}
.right-list{
  font-size: 60px;
  margin-left: 3vw;
}
.left-list{
  margin-right: 10vw;
  padding-top: 50px;
}
.left-list ul{
  display: flex;
  align-items: flex-end;
}
.left-list a{
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
}