.main-header{
  height: 45px;
  background-color:gray;
  opacity: 0.7;
  font-size: 15px;
  padding-left: 20px;
  padding-top: 15px;
  color: aliceblue;
}
.select-user{
  display: flex;
}
.search-users{
  margin-right: 3px;
  height: 32px;
}
.search-btn{
  font-size: 20px;
  width: 180px;
  color: aliceblue;
  background-color: #28a745;
}
.search-btn:hover{
  background-color: aliceblue;
  color: #28a745;
}
.calendar{
  height: calc(100% - 120px);
}
.calendar a{
  text-decoration: none;
  color: #28a745;
}
.main-footer{
  /*height: 60px;
  background-color: gray;
  opacity: 0.7;*/
}