<header class='top-page-header'>
   <div class="right-list">
    <h1>Plan-App</h1>
  </div>
  <div class="left-list">
    <ul>
      <li><%= link_to current_user.name, "#" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</header>