<div class="header">
  <%= render "shared/header" %>
</div>

<div class="wrapper">

  <%#メインフォーム部分 %>
  <%#= render "shared/main_form" %>
  <%#メインフォーム部分 %>
    
  <%# 詳細ページフォーム %>
  <%#= render "shared/show" %>
  <%# 詳細ページフォーム %>

  <%#サイドフォーム部分%>
  <%#= render "shared/side_form" %>
  <%#サイドフォーム部分%>
</div>