.body{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: image-url("BackImage.jpg");
  background-repeat: repeat;
}

.sign-form{
  background-color: whitesmoke;
  opacity: 0.8;
  height: auto;
  width: 400px;
}

.sign-header{
  padding: 10px 20px;
  color: aliceblue;
  background-color: #28a745;
}

.app-title{
  margin: 20px 0;
  text-align: center;
}
.app-title h1{
  font-size: 30px;
  font-weight: bold;
}

.form-group{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  padding: 0 40px 0 40px;
}
.input-label{
  width: 50%;
}
.input-form{
  width: 50%;
}

.sign-input-submit{
  text-align: right;
  padding-right: 45px;
  padding-bottom: 15px;
}

.input-btn{
  color: aliceblue;
  background-color: #28a745;
  border: none;
  padding: 5px;
}
